<template>
    <h1>{{ count }}</h1>

    <button @click="decrement()">
        Sub
    </button>

    <button @click="increment()">
        Add
    </button>
</template>

<script setup lang="ts">
import { ref } from 'vue';

let variable = ref("Amine")
let count = ref(0)
function increment() {
    count.value++
}

function decrement() {
    count.value--
}
</script>