<template>
    <h1>{{ text }}</h1>
    <p v-if="text.length > 10">message trop long</p>
    <input type="text" v-model="text">
    <span  id="red" v-if="text.length > 10">{{text.length}}</span>
    <span v-if="text.length <= 10">{{text.length}}</span>
</template>

<style scoped>
    p{
        color: rgb(177, 0, 0);
        font-size: 10px;
        font-weight: 200;
    }

    #red{
        color: red;
    }
</style>

<script setup lang="ts">
import { ref } from 'vue';

    const text = ref("ici")

</script>