<template>
<div id="liens">
            <router-link class-active="active" to="/">Couter</router-link>
            <router-link class-active="active" to="/loop">Loop</router-link>
            <router-link class-active="active" to="/form">Student form</router-link>
            <router-link class-active="active" to="/input">Input</router-link>
        </div>
</template>

<script></script>

<style scoped>
.router-link-active {
    color: blue;
}

#liens   {
    padding: 20px;
    display: flex;
    flex-direction: column;
}</style>