<template>
    <Header />
    <hr>
    <main>
        <RouterView />
    </main>
</template>

<script setup lang="ts">
import Header from '@/components/Header.vue';
import { RouterView } from 'vue-router';



</script>

<style scoped>
p {
    color: red;
}
</style>